{% extends "base.html" %}
{% block title %}资金账号{% endblock %}
{% block navigation_login %}
    <a href="{{ url_for('index.index') }}" class="btn">主页</a>
    <a href="{{ url_for('expense.home') }}" class="btn">日常开销</a>
    <a href="{{ url_for('food.home') }}" class="btn">美食</a>
    <a href="{{ url_for('index.index') }}" class="btn">照片</a>
{% endblock %}
{% block body %}
    {% if accounts.count() == 0 %}
    <p3 class="">你当前没有任何资金账号。点击<a href="{{ url_for('.account_new') }}">此处</a>创建资金账号</p3>
    {%else%}
    <p3>{{ username }}的资金账号<p3> <a href="{{ url_for('.account_new') }}" class="btn">+ 添加资金账号</a>
	<div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>账号名称</th>
                        <th>金额（元）</th>
                        <th>说明</th>
                        <th>创建/更新日期</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <th><a href="{{ url_for('.account_update', account_id=account.id) }}" class="btn" data-toggle="tooltip" title="点击进行更新">{{ account.name }}</a></th>
                        <th>{{ account.amount }}</th>
                        <th>{{ account.description }}</th>
                        <th>{{ account.date }}</th>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>总计</th>
                        <th>{{ total }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
            <p5 class="small">点击账号名称进行金额更新</p5>
        </div>
    </div>
    <script>
    $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
    {% endif %}
{% endblock %}

