{% extends "base.html" %}
{% block title %}花销记录{% endblock %}
{% block navigation_login %}
    <a href="{{ url_for('index.index') }}" class="btn">主页</a>
    <a href="{{ url_for('expense.home') }}" class="btn">日常开销</a>
    <a href="{{ url_for('index.index') }}" class="btn">美食</a>
    <a href="{{ url_for('index.index') }}" class="btn">照片</a>
{% endblock %}
{% block body%}
	<div class="row">
		<div class="col-lg-8">
            {% if form.account.choices|length == 0 %}
			<h1 class="small">你当前没有任何“资金账号”。要记录消费情况，请先创建“资金账号”。每笔消费记录将被关联到一个“资金账号”上。点击<a href="{{ url_for('.account_new') }}" class="btn">此处</a>记录资金账号间转账。</h1>
            {% else %}
            <a href="{{ url_for('.transfer') }}" class="btn">点击此处记录资金账号间转账。</a>
			<form method="POST" action={{ url_for('.record') }}>
				{{ form.hidden_tag() }}
				<div class="form-group">
					类别
					{% if form.category.errors %}
						{% for e in form.category.errors %}
							<p class="help-block" style="color:red">{{ e }}</p>
						{% endfor %}
					{% endif %}
					{{ form.category(class_='form-control') }}
				</div>
                <div class="form-group">
                    支出？{{ form.pay }}
                </div>
				<div class="form-group">
					数额（元）
					{% if form.amount.errors %}
						{% for e in form.amount.errors %}
							<p class="help-block" style="color:red">{{ e }}</p>
						{% endfor %}
					{% endif %}
					{{ form.amount(class_='form-control') }}
				</div>
				<div class="form-group">
					资金账号 <p3 class="small">（没有找到合适的资金账号？点击<a href="{{ url_for('.account_new') }}">此处</a>创建新的资金账号）</p3>
					{% if form.account.errors %}
						{% for e in form.account.errors %}
							<p class="help-block" style="color:red">{{ e }}</p>
						{% endfor %}
					{% endif %}
					{{ form.account(class_='form-control') }}
				</div>
				<div class="form-group">
					说明（可选）
					{% if form.description.errors %}
						{% for e in form.description.errors %}
							<p class="help-block" style="color:red">{{ e }}</p>
						{% endfor %}
					{% endif %}
					{{ form.description(class_='form-control') }}
				</div>
				<div class="form-group">
					日期
					{% if form.date.errors %}
						{% for e in form.date.errors %}
							<p class="help-block" style="color:red">{{ e }}</p>
						{% endfor %}
					{% endif %}
					{{ form.date(class_='form-control',type="date") }}
                    <!--<input type="date" id="start" name="trip-start" value="2019-02-20" min="1980-02-20" max="2019-12-31">-->
                    <!--<input type="date" name"bla bla">-->
				</div>
				<input class="btn btn-primary" type="submit" value="提交"> <a href="{{ url_for('.home') }}" class="btn">取消</a>
			</form>
            {% endif %}
		</div>
    </div>
{% endblock %}

{% block js %}
	<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
	<script>
		CKEDITOR.replace('editor');
	</script>
{% endblock %}

