{% extends "base.html" %}
{% block title %}花销查询{% endblock %}
{% block navigation_login %}
    <a href="{{ url_for('index.index') }}" class="btn">主页</a>
    <a href="{{ url_for('expense.home') }}" class="btn">日常开销</a>
    <a href="{{ url_for('index.index') }}" class="btn">美食</a>
    <a href="{{ url_for('index.index') }}" class="btn">照片</a>
{% endblock %}
{% block body%}
	<div class="row">
		<div class="col-lg-12">
            资金账号间转账记录（从{{ start_date }}到{{ end_date }}） <a href="{{ url_for('.query') }}">返回查询</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>from</th>
                        <th>to</th>
                        <th>金额（元）</th>
                        <th>日期</th>
                        <th>使用人</th>
                        <th>说明</th>
                    <tr>
                </thead>
                <tbody>
                    {% for transfer in transfers %}
                    <tr>
                        <th>{{ transfer.get_account_name(transfer.source) }}</th>
                        <th>{{ transfer.get_account_name(transfer.target) }}</th>
                        <th>{{ transfer.amount }}</th>
                        <th>{{ transfer.date }}</th>
                        <th>{{ transfer.get_user_name() }}</th>
                        <th>{{ transfer.description }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {{ pagination_widget(pagination, ".show_transfer", start_date=start_date, end_date=end_date, per_page=per_page ) }}
            </div>
		</div>
    </div>
{% endblock %}

