{% extends "base.html" %}
{% block title %}花销记录{% endblock %}
{% block navigation_login %}
    <a href="{{ url_for('index.index') }}" class="btn">主页</a>
    <a href="{{ url_for('expense.home') }}" class="btn">日常开销</a>
    <a href="{{ url_for('index.index') }}" class="btn">美食</a>
    <a href="{{ url_for('index.index') }}" class="btn">照片</a>
{% endblock %}
{% block body%}
	<div class="row">
		<div class="col-lg-8">
			<h1 class="text-center">资金账号内转账</h1>
			<form method="POST" action={{ url_for('.transfer') }}>
				{{ form.hidden_tag() }}
				<div class="form-group">
					from
					{% if form.source.errors %}
						{% for e in form.source.errors %}
							<p class="help-block" style="color:red">{{ e }}</p>
						{% endfor %}
					{% endif %}
					{{ form.source(class_='form-control') }}
				</div>
				<div class="form-group">
					to
					{% if form.target.errors %}
						{% for e in form.target.errors %}
							<p class="help-block" style="color:red">{{ e }}</p>
						{% endfor %}
					{% endif %}
					{{ form.target(class_='form-control') }}
				</div>
				<div class="form-group">
					金额（元）
					{% if form.amount.errors %}
						{% for e in form.amount.errors %}
							<p class="help-block" style="color:red">{{ e }}</p>
						{% endfor %}
					{% endif %}
					{{ form.amount(class_='form-control') }}
				</div>
				<div class="form-group">
					说明（可选）
					{% if form.description.errors %}
						{% for e in form.description.errors %}
							<p class="help-block" style="color:red">{{ e }}</p>
						{% endfor %}
					{% endif %}
					{{ form.description(class_='form-control') }}
				</div>
				<div class="form-group">
					日期
					{% if form.date.errors %}
						{% for e in form.date.errors %}
							<p class="help-block" style="color:red">{{ e }}</p>
						{% endfor %}
					{% endif %}
					{{ form.date(class_='form-control') }}
                    <!--<input type="date" name"bla bla">-->
				</div>
				<input class="btn btn-primary" type="submit" value="提交"> <a href="{{ url_for('.record') }}" class="btn">取消</a>
			</form>
		</div>
    </div>
{% endblock %}


